$base: #20c997;
$secondary: #1bac80;
$shadows: #199670 5px;
$text-color: white; 

body, html {
    padding: 0;
    margin: 2rem;
    color: $text-color;
}
/*nav {
    position: fixed;
    top: 0px;
    height: 10rem;
    width: 100%;
    text-decoration: none;
    color: $text-color;
    background-color: $base;
    box-shadow: 5px 10px $shadows;
    ul{
        list-style-type: none;
        overflow: hidden;
    }
    li {
        float: right;
        a {
            display: block;
            text-decoration: none;
            padding: 10px;
            :active{
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}
*/
body {
    font-family: Arial, Helvetica, sans-serif;

    @import 'partials/_svgBackground.scss';
    h1 {
        color: $text-color;
    }
    h2 {
        color: $text-color;
    }
    h3 {
        color: $text-color;
    }
    div{
        /*grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto;*/
        box-shadow: 5px 10px $shadows;
    }
}

#space {
    display: flex;
    justify-content: space-evenly;
}

#portfolio {
    background-color: $base;
    text-align: center;
    padding {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        top: 1rem;
    }
    /*grid-column: 2/5;
    grid-row: 2/2;*/
}

#about {
    background-color: $base;
    text-align: center;
    padding {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        top: 1rem;
    }
    :hover{
        color: #199670;
    }
    /*grid-column: 2/3;
    grid-row: 3/3;*/
}
  
#skills {
    background-color: $base;
    text-align: center;
    padding {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        top:1rem;
    }
    :hover{
        color: #199670;
    }
    /*grid-column: 3/4;
    grid-row: 3/3;*/
}

#resume {
    background-color: $base;
    text-align: center;
    :hover{
        color: #199670;
    }
    /*grid-column: 4/5;
    grid-row: 3/3;*/
}

#aboutPage {
    :hover{
        text-decoration: none;
    }
}

#skillsPage {
    :hover{
        text-decoration: none;
    }
}

#resumePage {
    :hover{
        text-decoration: none;
    }
}

.about-setup {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}

.navbar {
    background-color: $base;
}


.profile-padding {
    padding: 2rem;
}

.profileMove{
    margin-right: 1.5rem;
    margin-top: 1rem;
}

#top-button {
    background-color: #20c997;
}

#middle-button {
    background-color: #1bac80;
}

#bottom-button {
    background-color: #199670;
}

#horizontal {
    background-color: #2a3035;
}

#font-color-light {
    color: #fff;

}

#font-color-dark {
    color: #212529;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #212529;
}

.accordion-button:focus {
    border-color: #292125;
    box-shadow: none;
}

.accordion-body {
    background-color: #212529;
}

.accordion-button::after {
    transition: transform 0.2s ease-in-out, color 0.15s ease-in-out;
    color: #212529;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.card {
    background-color: #2a3035;
}

#dark-background{
    background-color: #212529;
}

a {
    color: #20c997;
    text-decoration: underline;
}

a:hover {
    color: #199670;
}

.navbar-toggler {
    border: none;
    background-color: #212529;
}

.navbar-toggler:hover {
    text-decoration: none;
    background-color: #2a3035;
    color: #2a3035;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    position: relative;
    top: 3rem;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: .25rem;
}

.fixed-top {
    position: fixed;
    top: -1rem;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-links-nav{
    position: fixed;
    top: 1rem;
    right: 0;
    left: 0;
    z-index: 1030;
}
  
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #212529;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.move{
    position: relative;
    top: 3.5rem;
}

.sticky-top-footer {
    padding-top: 6rem;
}

